Repository ieee-uerj/competitive-programming, pull requests merged in 2020-08, with the labels that each got.

#8 Exercicios resolvidos em Python: Curso basico para competicoes C++
  problemas-resolvidos/neps-academy/README.md
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-1-ola-codcad.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-10-Fliper.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-11-Garcom.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-12-Premio-Milhao.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-13-Lampadas.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-14-Divisores.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-15-Consecutivos.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-16-Raizes.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-17-Potencia-Simples.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-18-OBI-2015.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-19-Campo-Minado.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-2-soma-facil.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-20-Fita-Colorida.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-21-Quadrado-Magico.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-22-Torre.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-23-Operacoes.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-24-Overflow.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-25-Vestibular.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-26-Risadas.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-27-Contagem-Algarismo.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-28-Titulo.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-29-Primo.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-3-media-inteira.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-30-Soma-Vetor.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-31-Fibonacci.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-32-Hanoi.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-33-Ordenacao-Simples.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-34-Matryoshka.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-35-Olimpiadas.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-4-area-quadrado.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-5-Bondinho.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-6-Gangorra.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-7-Par-Impar.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-8-Positivo-Negativo-Nulo.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-9-Aprovado-Reprovado.py
Labels: documentation

#11 ieeextreme/11.0: adding running up stairs solution
  problemas-resolvidos/ieeextreme/11.0/running-up-stairs/main.py
Labels: problem-solved

#10 Exercicios resolvidos em Python: Adicionando Torre de Hanoi e Formula 1
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-32-Hanoi.py
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/python/Exercicio-36-Formula-1.py
Labels: problem-solved

#12 Editando: arquivo neps com modificacao
  problemas-resolvidos/neps-academy/README.md
Labels: documentation

#13 adicionando solucoes cpp
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/c++/Campo_minado.cpp
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/c++/Codigo_obi2015.cpp
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/c++/Consecutivos.cpp
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/c++/Contagem_de_algarismos.cpp
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/c++/Fibonacci.cpp
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/c++/Fita_colorida.cpp
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/c++/Formula_1.cpp
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/c++/Operacoes.cpp
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/c++/Overflow.cpp
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/c++/Potencia_simples.cpp
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/c++/Quadrado_magico.cpp
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/c++/Raizes.cpp
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/c++/Soma_do_vetor.cpp
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/c++/Titulo.cpp
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/c++/Torre.cpp
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/c++/Torres_de_hanoi.cpp
  problemas-resolvidos/neps-academy/programacao-basica-competicoes-c++/c++/Vestibular.cpp
Labels: problem-solved

#14 adding solutions for minimaratona (uri online judge)
  problemas-resolvidos/uri-online-judge/ad-hoc/2564.cpp
  problemas-resolvidos/uri-online-judge/ad-hoc/2900.py
  problemas-resolvidos/uri-online-judge/iniciante/1003.cpp
  problemas-resolvidos/uri-online-judge/iniciante/2775.cpp
  problemas-resolvidos/uri-online-judge/matematica/3099.py
  problemas-resolvidos/uri-online-judge/paradigmas/3098.cpp
  problemas-resolvidos/uri-online-judge/strings/3103.cpp
  problemas-resolvidos/uri-online-judge/strings/3118.cpp
Labels: problem-solved

#16 dando um tapa na parte teorica ja feita
  README.md
  teoria/introducao/entrada-saida.md
Labels: documentation

#15 adding pulo do sapo solution (uri 3107)
  problemas-resolvidos/uri-online-judge/paradigmas/3107.cpp
Labels: problem-solved

#17 gitignore: avoid .vscode folder commit in project
  .gitignore
Labels: enhancement

#18 problemas-resolvidos: adicionando lista 1, 2, 3, 4 e 5 (parcial) das aulas do PE)
  problemas-resolvidos/uri-online-judge/ad-hoc/1467.cpp
  problemas-resolvidos/uri-online-judge/ad-hoc/1769.cpp
  problemas-resolvidos/uri-online-judge/ad-hoc/2355.cpp
  problemas-resolvidos/uri-online-judge/ad-hoc/2793.cpp
  problemas-resolvidos/uri-online-judge/ad-hoc/3005.cpp
  problemas-resolvidos/uri-online-judge/ad-hoc/3005.py
  problemas-resolvidos/uri-online-judge/ad-hoc/3008.py
  problemas-resolvidos/uri-online-judge/estruturas-e-bibliotecas/1088.cpp
  problemas-resolvidos/uri-online-judge/matematica/1221.cpp
  problemas-resolvidos/uri-online-judge/matematica/1233.cpp
  problemas-resolvidos/uri-online-judge/matematica/1323.cpp
  problemas-resolvidos/uri-online-judge/matematica/1512.cpp
  problemas-resolvidos/uri-online-judge/matematica/1537.py
  problemas-resolvidos/uri-online-judge/matematica/1946.py
  problemas-resolvidos/uri-online-judge/matematica/1981.cpp
  problemas-resolvidos/uri-online-judge/matematica/2777.cpp
  problemas-resolvidos/uri-online-judge/matematica/2777.py
  problemas-resolvidos/uri-online-judge/matematica/2890.cpp
  problemas-resolvidos/uri-online-judge/matematica/2892.cpp
  problemas-resolvidos/uri-online-judge/paradigmas/1029.cpp
  problemas-resolvidos/uri-online-judge/paradigmas/1474.cpp
  problemas-resolvidos/uri-online-judge/paradigmas/2895.cpp
  problemas-resolvidos/uri-online-judge/strings/1556.cpp
Labels: problem-solved

#19 adicionando problemas 1694 e 1568
  problemas-resolvidos/uri-online-judge/matematica/1568.cpp
  problemas-resolvidos/uri-online-judge/matematica/1694.cpp
Labels: problem-solved
